@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.fadeIn {
-webkit-animation: fadeIn 2s ease-in-out;
-moz-animation: fadeIn 2s ease-in-out;
-o-animation: fadeIn 2s ease-in-out;
animation: fadeIn 2s ease-in-out;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #2C2F33;
}

body::-webkit-scrollbar {
    width: 10px
} 

body::-webkit-scrollbar-track-piece {
    background-color: #26292c86;
}
  
body::-webkit-scrollbar-thumb {   
background-color: rgb(102, 101, 101);   
}

body p{
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
}

#header-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #F2F2F2;
    background-color: #26292c86;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

#menu-hamburguer{
    display: none;
}

header h1{
    margin-left: 86px;
}

#menu{
    margin-left: 400px;
}

#menu a{
    margin-left: 60px;
    color: #F2F2F2;
    text-decoration: none;
    font-size: 1.2em;
    transition: 0.4s;
}

#menu a:hover{
    transition: 0.4s;
    color: #6382BF;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.52);
}

.container-section{
    border-bottom: 1px solid #e2e2e215;
    margin-top: 100px;
}

#about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
    color: #F2F2F2;
}

#text-about{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 50px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.322);
}

#text-about p{
    margin-bottom: 50px;
    margin-top: 20px;
    font-size: 1.1em;
    text-align: justify;
}

.p-color{
    color: #6382BF;
}

h2{
    font-size: 3em;
}

#about img{
    width: 450px;
    height: 450px;
    opacity: 60%;
    border-radius: 50%;
    object-fit: cover;
    background-color: #26292c50;
    box-shadow: 1px 1px 30px #0000007a;  
    transition: 2s; 
}

#about img:hover{
    box-shadow: 1px 1px 30px #6b6a6ae7;
    transition: 2s;
}

#about-me{
    color: white;
    text-align: justify;
    display: flex;
    justify-content: space-around;
    padding-top: 300px;
    margin-left: -62px;
    margin-bottom: 400px;
}

.about-me-text{
    width: 600px;
}

.about-me-text p{
    margin-top: 40px;
    font-size: 1.3em;
    line-height: 30px;
}

.dice {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

#dice{
    margin-top: 20px;
    width: 90px;
    height: 30px;
    font-size: 1.1em;
    background-color: #26282a;
    border: none;
    color: white;
    cursor: pointer;
}

.p-dice-luck{
    margin-top: 20px;
}

.dice img{
    width: 90px;
    cursor: pointer;
    position: absolute;
    top: 1340px;
}

#dice-text{
    position: absolute;
    top: 1460px;
    left: 1470px;
    font-size: 1.3em;
}

#soft-skill{
    color: white;
    text-align: justify;
    padding-top: 230px;
    margin-bottom: 330px;
    display: flex;
    justify-content: space-around;
}

#soft-skill img{
    width: 300px;
    height: 250px;
    margin-top: 200px;
}

#soft-skill h3{
    font-size: 1.5em;
    margin-top: 40px;
}

#soft-skill p{
    margin-top: 10px;
    font-size: 1.3em;
    line-height: 30px;
}

.soft-skill-text{
    width: 600px;
}

#hard-skills{
    margin: auto;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

#hard-skills img{
    width: 200px;
    margin-left: 45px;
    margin-right: 45px;
}

footer{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #F2F2F2;
    background-color: #26292c86;
    width: 100%;
    margin: auto;
    text-align: center;
    height: 150px;
}

.square-icons {

    padding: 10px; /* espaçamento */
  
    font-size: 28px; /* tamanho do icone */
  
    width: 50px;  /* tamanho do fundo */
  
    text-align: center;
  
    text-decoration: none;
  
    margin: 25px 20px 15px 20px; /* espaçamento entre eles */
  
    background:#414244 ; /* cor do fundo */ 
  
    color: #fff; /*cor do icone */

    transition: 0.4s;
  
  }
  
.square-icons:hover {

    background: #343435;  /*  cor de fundo com mouse encima */

    color: #fff;  /* cor do icone com mouse encima */

    opacity: 0.7;

    transition: 0.4s;
}

footer p{
    margin-top: 5px;
}


@media screen and (max-width: 1410px){
    #header-menu{
        flex-direction: column;
        padding-bottom: 20px;
    }

    #menu{
        margin-left: 0;
        margin-top: 30px;
    }
}

@media screen and (max-width:1100px){
    #about{
        flex-direction: column;
    }

    .dice{
        display: none;
    }

    .brain{
        display: none;
    }
}

@media screen and (max-width: 890px){
    #hard-skills {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #hard-skills img{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 740px){
    #header-menu{
        display: inline-block;
    }

    #header-menu h1{
        text-align: center;
        margin: 0;
    }
    
    #menu{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50px;
        left: 20px;
        background-color: #4142449d;
        padding: 10px;
        border-radius: 5px;
    }

    #menu a{
        margin: 0;
        margin-bottom: 10px;
    }
    #menu-hamburguer{
        display: inline-block;
        position: absolute;
        left: 30px;
        top: 15px;
        cursor: pointer;
    }
    #about-me{
        margin-left: 0;
    }

    #hard-skills{
        padding-top: 100px;
    }
}

@media screen and (max-width: 630px){
    #text-about{
        width: 90vw;
    }

    #about img{
        width: 350px;
        height: 350px;
    }

    #about-me{
        padding-left: 20px;
        padding-right: 20px;
    }

    #soft-skill{
        padding-left: 20px;
        padding-right: 20px; 
    }
}

@media screen and (max-width: 480px){
    .square-icons{
        font-size: 18px;
        width: 40px;
        margin: 25px 10px 15px 10px;
    }
}