@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html{
    scroll-behavior: smooth 
}

body{
    margin: 0px;
    background-color: #303769;
}

/* ícones de redes sociais */

.square-icons {

    padding: 10px; /* espaçamento */
  
    font-size: 18px; /* tamanho do icone */
  
    width: 18px;  /* tamanho do fundo */
  
    text-align: center;
  
    text-decoration: none;
  
    margin: 5px 20px; /* espaçamento entre eles */
  
    background:#6D7BEC ; /* cor do fundo */ 
  
    color: #fff; /*cor do icone */
  
  }
  
  .square-icons:hover {
  
      background: #4c5eeb ;  /*  cor de fundo com mouse encima */
  
      color: #fff;  /* cor do icone com mouse encima */
  
      opacity: 0.7;
  
  }
  /* fim dos ícones de redes sociais */

  /* cabeçalho */
 
  nav{
    font-family: 'Open Sans', sans-serif;
    height: 40px;
    padding-top: 35px;
    letter-spacing: 1px;
    padding-left: 50px;
    padding-bottom: 35px;
    background-color: #303769;
    position: fixed;
    z-index: 99;
    width: 100%;
  }

  .menu{
    color: white;
    text-decoration: none;
    font-size: 1em;
    margin-right: 30px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.274); 
    transition: 0.4s;      
  }

  .menu:hover{
    font-size: 1.3em;
    transition: 0.4s;   
  }

  img#perfil{
    margin-top: 175px;  
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 70px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.56);
    margin-bottom: 283px;

  }

  #social{
      font-family: 'Open Sans', sans-serif;
      color: white;
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.274);
  }

  .socialm{
      position: absolute;
      left: 300px;
      top: 250px;
      text-align: center;
      padding-left: 300px;
  }

  section#about{
    margin-left: 95px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.274);
    text-align: center;
    font-size: 1.3em;
    width: 250px;
    padding-top: 200px;
  }

  section#about p{
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #6d7cec;
    box-shadow: 0px 0px 4px #6d7cec;
    transition: 1s;
    line-height: 30px;
    margin-bottom: 300px;
  }

  section#about p:hover{
      background-color: #6d7cec;
      box-shadow: none;
      transition: 1s;
  }

  #prog{
      width: 300px;
      height: 300px;
      position: absolute;
      top: 785px;
      left: 670px;
      padding-top: 200px;
  }

     #soft{
      padding-top: 90px;
  } 
  
  #softskill{
    margin-left: 95px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.274);
    text-align: center;
    font-size: 1em;
    width: 450px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #6d7cec;
    box-shadow: 0px 0px 4px #6d7cec;
    transition: 1s;
    line-height: 30px;
    margin-bottom: 300px;
  }

  #softskill:hover{
    background-color: #6d7cec;
    box-shadow: none;
    transition: 1s;
  }

  #brain{
      width: 440px;
      height: 300px;
      position: absolute;
      top: 1810px;
      left: 670px;
  }

  .hskill{
      margin-top: 100px;
      width: 200px;
      height: 200px;
      margin-left: 95px;
      margin-bottom: 200px;
  }

/* ----------------------------------------- --------------------------------------- --------------------------------------*/


/* ----------------------------------------- ADAPTAÇÃO DE RESOLUÇÃO PARA SMARTPHONES --------------------------------------*/


/* ----------------------------------------- --------------------------------------- --------------------------------------*/

@media screen and (max-width: 480px) {
  nav{
    font-size: 1em;
    padding-left: 20px;
  }
  
  .menu:hover{
    font-size: 1em;
  }

  img#perfil{
    width: 250px;
    height: 250px;
    margin-left: 75px;
    margin-bottom: 10px;
  }

  .square-icons{
    font-size: 27px;
    width: 27px;
    margin: 5px 10px;
  }
  
  .socialm{
    position: absolute;
    padding-left: 25px;
    top: 500px;
    left: 5px;
  }

  section#about{
    margin-left: 70px;
    margin-top: 350px;  
    font-size: 1.5em; 
    width: 270px;
  }

  #prog{
    display: none;
  }

  #softskill{
    margin-left: 40px;
    width: 290px;
  }

  #brain{
    display: none;
  }

  .hskill{
    width: 100px;
    height: 100px;
    margin-left: 45px;
  }
}

/* ----------------------------------------- --------------------------------------- --------------------------------------*/


/* ----------------------------------------- ADAPTAÇÃO DE RESOLUÇÃO PARA SMARTPHONES NA HORIZONTAL --------------------------------------*/


/* ----------------------------------------- --------------------------------------- --------------------------------------*/

@media screen and (min-width: 720px) {
  nav{
    font-size: 1.5em;
  }

  .menu:hover{
    font-size: 1em;
  }
  
  .socialm{
    padding-left: 10px;
    left: 500px;
    width: 450px;
  }

  section#about{
    padding-top: 100px;
  }

  #prog{
    top: 690px;
  }

  #brain{
    top: 1720px;
  }

  .hskill{
    padding-top: 200px;
  }
}




  

  

  

  